<footer>
    <div class="container">
        <p>&copy; 2025 Faisal Juniardi. All rights reserved.</p>
        <div class="social-links">
            <a href="https://github.com/faisaljuniardi"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/faisal-juniardi-168296185/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/fjun21/"><i class="fab fa-instagram"></i></a>
            <a href="https://x.com/faisaljuniardi"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>